body{
  background-image: url("pexels-pixabay-50594.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
h1{
  background: linear-gradient(to right, #6fe3e1,#8fc4c3);
  background-repeat: no-repeat;
  background-attachement: fixed;
}
.websitepg1{
  background: linear-gradient(to right, #6fe3e1,#8fc4c3);
  background-repeat: no-repeat;
  background-attachement: fixed;
}
.websitepg1{
  border-style:outset;
  border-color:#5eb8b6;
  border-radius: 5px;
  border-width: 5px;
  padding: 10px;
}
.websitepg1{
  color:#de3318;
}
  button{
    background-color:#00ff48;
    color:red;
  }
  
